@{
    ViewBag.Title = "Configurar Módulo";
}

<script>
    function validarLimite() {
        var limite = document.getElementById("limite").value;
        if (limite <= 24 || limite >= 126) {
            alert("El valor debe estar dentro del rango de 25 a 125.");
            return false;
        }
        return true;
    }
</script>

<div class="container">
    <div class="row">
        <!-- Columna izquierda para el formulario -->
        <div class="col-md-6">
            <h2 style="color: black; margin-top: 20%;">Configurar Módulo</h2>

            @using (Html.BeginForm("UpdateLimit", "Module", FormMethod.Post, new { onsubmit = "return validarLimite();" }))
            {
                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="limite" style="color: black;">Nuevo Límite de Velocidad:</label>
                    <input type="number" class="form-control" id="limite" name="limite" required>
                </div>
                <div style="margin: 10% 0;">
                    <button type="submit" class="btn btn-primary" style="color: white; border:none; background-color: rgba(2, 0, 36, 1);">Guardar</button>
                </div>
            }
        </div>
        <!-- Columna derecha para explicaciones de variables -->
        <div class="col-md-6">
            <h2 style="color: black; margin-top: 20%;">Descripción de Variables</h2>
            <p style="color: black; margin-bottom: 20px;"><strong>Límite de Velocidad:</strong> Nivel de VSS km/h para la activación de la limitacion de velocidad.</p>
            <!-- Añade aquí las descripciones de las demás variables si es necesario -->
        </div>
    </div>
</div>


